button.img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
}